/**
 * Progress bars with centered text
 */
.progress {
    position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    text-shadow: 1px 1px black;
 }

    .btn-file {
    position: relative;
    overflow: hidden;
    }
    .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }





table.table-bordered tr td
{
  border-bottom:1pt solid black;
  border-left:1pt solid black;
  border-right:1pt solid black;
}
table.table-bordered tr th
{
  border-bottom:1pt solid black;
}

.pagination-slim
{
    margin: 0px;

}

.sort_asc:after {
  font-family: "Glyphicons Halflings";
  content:"\e155";
}
.sort_desc:after {
  font-family: "Glyphicons Halflings";
  content:"\e156";
}
.popover {
max-width: 800px;
width: auto;
}

.loading_div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:black;
    opacity: .8;
    display: none;
 }
.loading_img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
}
.img-wrap .load {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    padding: 2px 2px 2px;
    color: #000;
    cursor: pointer;
    opacity: .3;
    text-align: center;
    line-height: 24px;
    font-size: 24px

}
.img-wrap:hover .load {
    opacity: 1;
    background-color: white;
    border-radius: 50%;
}


.img_grid_div {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.img_grid_div ul {
  list-style-type: none;
}
.img_grid_div li img {
  float: left;
  margin: 10px;
  border: 2px solid #fff;
  width: 200px;

  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
.img_grid_div li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  cursor: pointer;
}