{% import "macros.jinja" as macros %}
<html>
  <head>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script type='text/javascript' src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
      <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
      <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-multiselect.js') }} "></script>
      <script type='text/javascript' src="{{ url_for('static', filename='js/typeahead.bundle.js') }} "></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/scrollfix.js') }} " ></script>


      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/arcadia_admin.css') }}">


    {% if title %}
    <title>{{ title }} - Arcadia Admin</title>
    {% else %}
    <title>Arcadia Admin</title>
    {% endif %}


  </head>
  <body onunload="unloadP('{{ title }}')" onload="loadP(' {{ title }} ')">


 <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="Arcadia Admin" style="text-shadow: 1px 1px black;"><b> Arcadia Admin </b> <img style="max-width:100px; margin-top: -34px; margin-left: -38px;" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% block nav_left %}{% endblock %}
          <ul class="nav navbar-nav navbar-right">
            <li></li>
            <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
          </ul>

            <!--
                  <div class="col-sm-3 col-md-3 pull-right">
            <form class="nparameters" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" style="height:30px; margin-top: 3px; font-size:12pt; border: 1px solid black;" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <a href="#" class="btn btn-default" style="height:30px; margin-top: 3px; margin-left: 0px; text-shadow: 1px 1px black;" ><i class="glyphicon glyphicon-search" style="margin-top: -3px;"></i></a>
                    </div>
                </div>
            </form>
        </div>
        -->

        </div><!--/.nav-collapse -->
      </div>
    </nav>

 <div class="container-fluid">
     {% with messages = get_flashed_messages() %}
      {% if messages %}
                {% for message in messages %}
                           <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ message }}</p>
                           </div>
                {% endfor %}
      {% endif %}
    {% endwith %}


     {% block breadcrumb %}{% endblock %}
     {% block content %}{% endblock %}
</div>




 <div class="modal fade" id="find_online_metadata-dialog" tabindex="-1" role="dialog" aria-labelledby="find_online_metadata-label" aria-hidden="true"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="find_online_metadata-label">Get Game Data From Online</h4>
      </div>
      <div id="online_search_body" class="modal-body">

            <input type="hidden" value="0" id="find_online_metadata-GameID"/>



            <div  class="form-group">
                <div class="loading_div" id="find_online_metadata-loading_div">
                    <img src="{{ url_for('static', filename='img/loading.gif') }}" class="loading_img"/>
                </div>

                <select class="form-control online_search-provider" id="find_online_metadata-Providers">
                    <option value="giantbomb">giantBomb.com</option>
                    <option value="thegamedb">theGameDB.com</option>
                </select>
                <label for="find_online_metadata-String">Search</label>
                <div class="input-group">
                    <input type="text" class="form-control online_search-string" id="find_online_metadata-String" value=" ">
                    <span class="input-group-btn">
                        <button class="btn btn-primary online_search-btn" id="find_online_metadata-SearchBtn">Search</button>
                    </span>
                </div>
                <label for="find_online_metadata-Result">Results</label>
                <select class="form-control online_search-result" id="find_online_metadata-Result">
                    <option>Select Game</option>
                </select>
            </div>

            <button class="btn btn-primary" id="find_online_metadata-Update_Btn">Update Game Detail Using Selected</button>
      </div>
    </div>
  </div>
</div>



  <div class="modal fade" id="change_image-dialog" tabindex="-1" role="dialog" aria-labelledby="change_image-label" aria-hidden="true"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="change_image-label">Change Image</h4>
      </div>
      <div id="change_image-body" class="modal-body">

            <input type="hidden" value="0" id="change_image-GameID"/>
            <input type="hidden" value="0" id="change_image-type"/>

            <div  class="form-group">
                <div class="loading_div" id="change_image-loading_div">
                    <img src="{{ url_for('static', filename='img/loading.gif') }}" class="loading_img"/>
                </div>

                <select class="form-control online_search-provider" id="change_image-Providers">
                    <option value="thegamedb">theGameDB.com</option>
                    <option value="giantbomb">giantBomb.com</option>
                </select>
                <label for="change_image-String">Search</label>
                <div class="input-group">
                    <input type="text" class="form-control online_search-string" id="change_image-String" value=" ">
                    <span class="input-group-btn">
                        <button class="btn btn-primary online_search-btn" id="change_image-SearchBtn">Search</button>
                    </span>
                </div>
                <label for="change_image-Result">Results</label>
                <select class="form-control online_search-result" id="change_image-Result">
                    <option>Select Game</option>
                </select>
            </div>


            <div class="img_grid_div">
                <ul id="change_image-list">
                </ul>
            </div>

      </div>
    </div>
  </div>
</div>


 <script type='text/javascript' src="{{ url_for('static', filename='js/arcadia_admin.js') }} "></script>
  {% block scripts %}{% endblock %}

  </body>
</html>
