<!-- extend from base layout -->
{% extends "base.html" %}

{% block breadcrumb %}
     <ol class="breadcrumb ">
         <li><a href="/">Home</a></li>
         <li><a href="/platform">Platform</a></li>
         <li><a href="/platform/{{platform.id}}">{{platform.name}}</a></li>
         <li class="active">{{game.name}}</li>
     </ol>
{% endblock %}


{% block nav_left %}
<ul class="nav navbar-nav">
    <li><a href="{{game.id}}/edit">Edit Game</a> </li>

</ul>
{% endblock %}


{% block content %}
<div class="col-xs-12" style=" color:white; background:url('') no-repeat center center fixed; background-size: cover;">

    <div class="img-wrap">
        <span class="load glyphicon glyphicon-upload"></span>
        <img src="{{game.id}}/img/clearlogo" />
    </div>

    </div>

<!-- Button trigger modal -->

 <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                <div class="panel-heading">{{game.name}} </div>
                    <div class="panel-body">
                        <div class="col-xs-2"> File Name </div> <div class="col-xs-10">{{game.file_name}}</div>
                        <div class="col-xs-2">Publishers</div> <div class="col-xs-10">{% for publisher in game.publishers %}<a href="/company/{{ publisher.id }}">{{ publisher.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Developers</div> <div class="col-xs-10">{% for developer in game.developers %}<a href="/company/{{ developer.id }}">{{ developer.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Description</div> <div class="col-xs-10">{{game.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                <div class="panel-heading">Screen Shot</div>
                    <div class="panel-body" style="text-align:center; ">
                        <div class="img-wrap" style="width: 90%;">
                            <img src="{{game.id}}/img/screen" style="max-width:100%;max-height:100%;" />
                            <span id="set_screenshot_image" class="load glyphicon glyphicon-upload"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                <div class="panel-heading">Video</div>
                    <div class="panel-body" style="text-align:center; height:300px">
                        <video width="100%" height="50%" preload="none" controls poster="{{game.id}}/img/screen">
                            <source src="{{game.id}}/vid" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
</div>



    {% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {

        $('body').css('background', 'url({{game.id}}/img/fanart ) no-repeat center center fixed');
        $('body').css('background-size', 'cover');
        $('body').css('background-color', '#2b3e50');
    });

    $("#set_screenshot_image").click(function() {

        $('#change_image-dialog').modal('show');
        var searchString_TXT = $('#change_image-dialog').find('.online_search-string');
        var searchResult_DDL = $('#change_image-dialog').find('.online_search-result');
        var searchProvider = $('#change_image-dialog').find('.online_search-provider').val();

        searchString_TXT.val('{{game.name}}');
        online_search('{{game.name}}', searchProvider, searchResult_DDL)

    });





</script>
{% endblock %}