<!-- extend from base layout -->
{% extends "base.html" %}

{% block breadcrumb %}
     <ol class="breadcrumb ">
         <li><a href="/">Home</a></li>
         <li><a href="/platform">Platform</a></li>
         <li><a href="/platform/{{platform.id}}">{{platform.name}}</a></li>
         <li class="active">{{game.name}}</li>
     </ol>
{% endblock %}


{% block nav_left %}
<ul class="nav navbar-nav">
    <li><a href="{{game.id}}/edit">Edit Game</a> </li>

</ul>
{% endblock %}


{% block content %}
<div class="col-xs-12" style=" color:white; background:url('') no-repeat center center fixed; background-size: cover;">

    <div class="img-wrap">
        <span class="load glyphicon glyphicon-upload"></span>
        <img src="{{game.id}}/img/clearlogo" />
    </div>




    </div>

<!-- Button trigger modal -->

 <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                <div class="panel-heading">{{game.name}} </div>
                    <div class="panel-body">
                        <div class="col-xs-2"> File Name </div> <div class="col-xs-10">{{game.file_name}}</div>
                        <div class="col-xs-2">Publishers</div> <div class="col-xs-10">{% for publisher in game.publishers %}<a href="/company/{{ publisher.id }}">{{ publisher.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Developers</div> <div class="col-xs-10">{% for developer in game.developers %}<a href="/company/{{ developer.id }}">{{ developer.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Description</div> <div class="col-xs-10">{{game.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="panel panel-default">
                <div class="panel-heading">Screen Shot</div>
                    <div class="panel-body" style="text-align:center; height:300px">
                        <div class="img-wrap">
                            <img src="{{game.id}}/img/screen" style="max-width:100%;max-height:100%;" />
                            <span id="set_screenshot_image" class="load glyphicon glyphicon-upload"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="panel panel-default">
                <div class="panel-heading">Video</div>
                    <div class="panel-body" style="text-align:center; height:300px">
                        <video width="320" height="240" preload="none" controls poster="screen_shot.png">
                            <source src="{{game.id}}/vid" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
</div>

 <div class="modal fade" id="change_image-dialog" tabindex="-1" role="dialog" aria-labelledby="change_image-label" aria-hidden="true"  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="change_image-label">Change Image</h4>
      </div>
      <div id="change_image-body" class="modal-body">

            <input type="hidden" value="0" id="change_image-GameID"/>

            <div class="loading_div" id="change_image-loading_div">
                <img src="{{ url_for('static', filename='img/loading.gif') }}" class="loading_img"/>
            </div>


            <div  class="form-group">
                <select class="form-control" id="change_image-Providers">
                    <option value="giantbomb">giantBomb.com</option>
                    <option value="thegamedb">theGameDB.com</option>
                </select>
                <label for="change_image-String">Search</label>
                <input type="text" class="form-control" id="change_image-String" value=" "> <button class="btn btn-primary" id="change_image-SearchBtn">Search</button>
                <select class="form-control" id="change_image-Result">
                    <option>Select Game</option>
                </select>
            </div>

            <div class="img_grid_div">
                <ul id="change_image-list">
                </ul>
            </div>

      </div>
    </div>
  </div>
</div>





    {% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {

        $('body').css('background', 'url({{game.id}}/img/fanart ) no-repeat center center fixed');
        $('body').css('background-size', 'cover');
        $('body').css('background-color', '#2b3e50');
    });


    $("#set_screenshot_image").click(function() {


        $('#change_image-dialog').modal('show');
        show_images();

    });


    function show_images()
    {

        $("#change_image-list").empty();
        $.getJSON("/_game_image_search_online" ,function(data){
             $.each(data, function(i, record) {
                $('#change_image-list').append('<li><img src="' + record.thumbUrl + '"/></li>');
             });
        });
    }


</script>
{% endblock %}