<!-- extend from base layout -->
{% extends "base.html" %}

{% block breadcrumb %}
     <ol class="breadcrumb ">
         <li><a href="/">Home</a></li>
         <li><a href="/platform">Platform</a></li>
         <li><a href="/platform/{{platform.id}}">{{platform.name}}</a></li>
         <li class="active">{{game.name}}</li>
     </ol>
{% endblock %}


{% block nav_left %}
<ul class="nav navbar-nav">
    <li><a href="{{game.id}}/edit">Edit Game</a> </li>

</ul>
{% endblock %}


{% block content %}
<div class="col-xs-12" style=" color:white; background:url('') no-repeat center center fixed; background-size: cover;">
    <div class="img-wrap" style="width:100%">
        <span id="set_fanart_image" class="load glyphicon glyphicon-upload" data-toggle="tooltip" data-placement="left" title="Set Fan Art"></span>
    </div>
    <div class="img-wrap">
        <span id="set_clearlogo_image" class="load glyphicon glyphicon-upload" data-toggle="tooltip" data-placement="left" title="Set Clear Logo"></span>
        <img src="{{game.id}}/img/clearlogo" style="max-width:300px" />
    </div>

    </div>

 <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">
                <div class="panel-heading">{{game.name}}</div>
                    <div class="panel-body">
                        <div class="col-xs-2"> File Name </div> <div class="col-xs-10">{{game.file_name}}</div>
                        <div class="col-xs-2">Publishers</div> <div class="col-xs-10">{% for publisher in game.publishers %}<a href="/company/{{ publisher.id }}">{{ publisher.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Developers</div> <div class="col-xs-10">{% for developer in game.developers %}<a href="/company/{{ developer.id }}">{{ developer.name }}</a> {% endfor %}</div>
                        <div class="col-xs-2">Description</div> <div class="col-xs-10">{{game.description}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                <div class="panel-heading">Screen Shot</div>
                    <div class="panel-body" style="text-align:center; ">
                        <div class="img-wrap" style="width: 90%;">
                            <img src="{{game.id}}/img/screen" style="max-width:100%;max-height:100%;" />
                            <span id="set_screenshot_image" class="load glyphicon glyphicon-upload"  data-toggle="tooltip" data-placement="left" title="Set Screen Shot"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="panel panel-default">
                <div class="panel-heading">Video</div>
                    <div class="panel-body" style="text-align:center">
                        <div class="img-wrap" style="width: 90%;">
                            <video width="100%"  preload="none" controls poster="{{game.id}}/img/screen">
                                <source src="{{game.id}}/vid" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <span id="set_video_image" class="load glyphicon glyphicon-upload"  data-toggle="tooltip" data-placement="left" title="Set Video"></span>
                        </div>
                    </div>
                </div>
            </div>
</div>



    {% endblock %}

{% block scripts %}
<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


    $(document).ready(function() {

        $('body').css('background', 'url({{game.id}}/img/fanart ) no-repeat center center fixed');
        $('body').css('background-size', 'cover');
        $('body').css('background-color', '#2b3e50');
    });

    $("#set_screenshot_image").click(function() {
        open_change_image('screen');
    });
    $("#set_clearlogo_image").click(function() {
        open_change_image('clearlogo');
    });
    $("#set_fanart_image").click(function() {
        open_change_image('fanart');
    });

    function open_change_image(image_type) {
        $('#change_image-type').val(image_type); 
        $('#change_image-GameID').val('{{game.id}}');
        $('#change_image-dialog').find('.online_search-string').val('{{game.name}}');

        $('#change_image-dialog').modal('show');
                
        var searchResult_DDL = $('#change_image-dialog').find('.online_search-result');
        var searchProvider = $('#change_image-dialog').find('.online_search-provider').val();
        
        online_search('{{game.name}}', searchProvider, searchResult_DDL);
    }




</script>
{% endblock %}