<!-- extend from base layout -->
{% extends "base.html" %}

{% block scripts %}
<script>

    function changeSort(sort, order) {
        sort = encodeURIComponent(sort);
        order = encodeURIComponent(order);
        var baseURL = window.location.href.split("?")[0];
        window.location.replace(baseURL + '?sort=' + sort + '&order=' + order);
    }

function rom_scan(){
    $.getJSON("{{ platform.id }}/_rom_scan",function(data){
         $("#rom_scan-dialog").modal("show");
        if (data.status == 'running') {
            var percentage = (data.games_processed / data.total_games) * 100;
            $("#progressBar").css("width", percentage + "%");
            $("#progressBar_text").text(data.games_processed + " of " + data.total_games + " Roms Scaned ");
            setTimeout("rom_scan()",1000);
        } 
        else{
            $("#progressBar_text").text("Complete");
            $("#progressBar").css("width", 0);
            $('#rom_scan-dialog').modal('hide');
            location.reload(true);
        }; 
    }); 
}

function import_rom_xml() {
    $("#import_rom_xml-dialog").modal("show");
}
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        $("#import_rom_xml-upload_text").val(label);
    });
});

$(function() {
    $('#import_rom_xml-upload-btn').click(function() {
        console.log($('#import_rom_xml-upload-form')[0])
        var form_data = new FormData($('#import_rom_xml-upload-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/platform/{{ platform.id }}/_load_game_list',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data.result == 'OK') {
                  load_game_list(data.filename, data.file_type);
                };
            },
        });
    });
});
function load_game_list(filename, file_type) {
    var p = { filename:filename, file_type:file_type };
    var params = jQuery.param( p );
    $.getJSON("/platform/{{ platform.id }}/_load_game_list?" + params, function(data){
        if (data.status == 'running') {
            console.log(data.status);
            var percentage = (data.games_processed_count / data.total_games_count) * 100;
            $("#import_rom_xml-progressBar").css("width", percentage + "%");
            setTimeout(function() { load_game_list(filename, file_type); }, 1000)
        }
        else{
            location.reload(true);
        };
    });
}

$(".btn_delete_game").click(function() {
    console.log('click');
    var row_id = $(this).closest('tr').attr('id');
    delete_game(row_id, {{platform.id}});
 });

function delete_game(game_id, platform_id) {
    var p = { game_id:game_id };
    var params = jQuery.param( p );
    console.log("/platform/{{ platform.id }}/_delete_games?" + params);
    $.getJSON("/platform/{{ platform.id }}/_delete_games?" + params, function(data){
        if (data.result = 'OK') {
            if (game_id != '__ALL') {
               $('#' + game_id).hide();
            }
            else {
                location.reload(true);
            }
        };

    });
}

</script>
{% endblock %}

{% block nav_left %}
<ul class="nav navbar-nav">
    <li><a href="{{platform.id}}/edit">Edit Platform</a> </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li> <a onclick="rom_scan()" href="javascript:void(0);">Scan For Games</a></li>

            <li class="divider"></li>
            <li> <a onclick="import_rom_xml()" href="javascript:void(0);">Import Game Information from XML</a></li>
            <li> <a href="javascript:void(0);" onclick="delete_game('__ALL', '{{platform.id}}');">Delete All Games</a></li>
        </ul>
    </li>

</ul>
{% endblock %}


{% block breadcrumb %}
     <ol class="breadcrumb ">
       <li><a href="/">Home</a></li>
       <li><a href="/platform">Platform</a></li>
       <li class="active">{{platform.name}}</li>
     </ol>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#platform_panel">{{platform.name}} Platform Details</a></div>
                    <div id="platform_panel" class="panel-collapse collapse out">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><p><strong>Platform ID</strong> {{platform.id}}</p></div>
                            <div class="col-xs-6 col-md-8"><p><strong>Description</strong></p><div style="text-align: justify; text-justify: inter-word;">{{platform.desc | nl2br}}</div> </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><p><strong>Alias</strong> {{platform.alias}}</p></div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">.col-xs-6</div>
        </div>


    <table class="table table-striped table-hover">

        <tr>
            <th id="game_options">OPTIONS</th>
            <th id="game_name">NAME
                <a onclick="changeSort('name','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('name','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th id="game_file_name">FILE NAME
                <a onclick="changeSort('file_name','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('file_name','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th id="game_genre">REGIONS</th>
            <th id="game_active">ACTIVE
                <a onclick="changeSort('active','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('active','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>

        </tr>
        {% for game in games %}
            <tr class="{% if game.active %} success {% else %} danger {% endif %} " id="{{game.id}}">
                <td>
                    <div class="btn-group btn-group-xs" role="group" aria-label="Game" >
                        <button type="button" class="btn btn-warning btn_delete_game"><span class="glyphicon glyphicon-trash" ></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cloud"></span></button>
                    </div>
                </td>
                <td>{{game.name}}</td>
                <td>{{game.file_name}}</td>
                <td>
                    {% for region in game.regions %}
                        <a href="/region/{{ region.id }}">{{ region.region_abbreviation }}</a>
                    {% endfor %}
                </td>
                <td class="text-center">{% if game.active %} <span class="glyphicon glyphicon-ok"></span> {% else %}   {% endif %}</td>
            </tr>
        {% endfor %}
    </table>





<div class="modal fade" id="rom_scan-dialog" tabindex="-1" role="dialog" aria-labelledby="rom_scan-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="rom_scan-label">Scan Roms</h4>
      </div>
      <div class="modal-body">
        <p>Scanning roms directory for changes <br /> " {{ platform.roms_path }} "</p>
        <div class="progress progress-striped active">
            <div id="progressBar" class="progress-bar" style="width: 0%">
                <span id="progressBar_text"></span>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="import_rom_xml-dialog" tabindex="-1" role="dialog" aria-labelledby="import_rom_xml-label" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="import_rom_xml-label">Import Game Information from XML</h4>
      </div>
      <div class="modal-body">
          <p>Import game information from a generic XML files and HyperSpin XML database files</p>
        <form id="import_rom_xml-upload-form" role="form" action="sendXML" method="post" enctype="multipart/form-data">
            <div class="input-group">
                    <input type="text" id="import_rom_xml-upload_text" class="form-control" readonly placeholder="Choose XML file">
                    <div class="input-group-btn">
                        <span class="btn btn-primary btn-file" style="height: 40px; margin-top: 0px; margin-left: 0px; text-shadow: 1px 1px black;">
                            Browse <input type="file" name="file" accept="application/xml">
                        </span>
                    </div>
            </div>
        </form>
            <div class="progress progress-striped active">
                <div id="import_rom_xml-progressBar" class="progress-bar" style="width: 0%">
                    <span id="import_rom_xml-progressBar_text">Place Holder Text</span>
                </div>
            </div>

      </div>
        <div class="modal-footer">
            <button id="import_rom_xml-upload-btn" type="button" class="btn btn-primary" value="Upload">Upload</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}