<!-- extend from base layout -->
{% extends "base.html" %}

{% block scripts %}
<script>

    function changeSort(sort, order) {
        sort = encodeURIComponent(sort);
        order = encodeURIComponent(order);
        var baseURL = window.location.href.split("?")[0];
        window.location.replace(baseURL + '?sort=' + sort + '&order=' + order);
    }

function rom_scan(){
    $.getJSON("{{ platform.id }}/_rom_scan",function(data){
         $("#rom_scan-dialog").modal("show");
        if (data.status == 'running') {
            var percentage = (data.games_processed / data.total_games) * 100;
            $("#progressBar").css("width", percentage + "%");
            $("#progressBar_text").text(data.games_processed + " of " + data.total_games + " Roms Scaned ");
            setTimeout("rom_scan()",10000);
        } 
        else{
            $("#progressBar_text").text("Complete");
            $("#progressBar").css("width", 0);
            $('#rom_scan-dialog').modal('hide');
            location.reload(true);
        }; 
    }); 
}

function import_rom_xml() {
    $("#import_rom_xml-dialog").modal("show");
}

function load_rom_xml(file_name) {
    $.getJSON("{{ platform.id }}/_load_rom_xml/" + file_name, function(data){

    });
}

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        console.log(numFiles);
        console.log(label);
    });
});

$(function() {
    $('#import_rom_xml-upload-btn').click(function() {
        console.log($('#import_rom_xml-upload-form')[0])
        var form_data = new FormData($('#import_rom_xml-upload-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/platform/upload_rom_xml',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                if (data.result == 'OK') {
                  load_rom_xml(data.filename);
                };
            },
        });
    });
});

</script>
{% endblock %}

{% block nav_left %}
<ul class="nav navbar-nav">
    <li> <a onclick="rom_scan()" href="javascript:void(0);">Scan Roms</a></li>
    <li><a href="#">Add Rom File</a></li>
    <li><a href="{{platform.id}}/edit">Edit Platform</a> </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Import<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
                <li> <a onclick="import_rom_xml()" href="javascript:void(0);">Import Rom XML Information</a></li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block breadcrumb %}
     <ol class="breadcrumb ">
       <li><a href="/">Home</a></li>
       <li><a href="/platform">Platform</a></li>
       <li class="active">{{platform.name}}</li>
     </ol>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#platform_panel">{{platform.name}} Platform Details</a></div>
                    <div id="platform_panel" class="panel-collapse collapse out">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><p><strong>Platform ID</strong> {{platform.id}}</p></div>
                            <div class="col-xs-6 col-md-8"><p><strong>Description</strong></p><div style="text-align: justify; text-justify: inter-word;">{{platform.desc | nl2br}}</div> </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-4"><p><strong>Alias</strong> {{platform.alias}}</p></div>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">.col-xs-6</div>
        </div>


    <table class="table table-striped table-hover">
        <tr><th>NAME
            <a onclick="changeSort('name','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
            <a onclick="changeSort('name','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
        </th>
            <th>FILE NAME
                <a onclick="changeSort('file_name','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('file_name','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>GENRE
                <a onclick="changeSort('genre_id','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('genre_id','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>
            <th>ACTIVE
                <a onclick="changeSort('active','asc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
                <a onclick="changeSort('active','desc')" href="javascript:void(0);"><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
            </th>

        </tr>
        {% for game in games %}
            <tr class="{% if game.active %} success {% else %} danger {% endif %} ">
                <td>{{game.name}}</td>
                <td>{{game.file_name}}</td>
                <td>{{game.genre.genre_name}}</td>
                <td class="text-center">{% if game.active %} <span class="glyphicon glyphicon-ok"></span> {% else %}   {% endif %}</td>
                </tr>
        {% endfor %}
    </table>





<div class="modal fade" id="rom_scan-dialog" tabindex="-1" role="dialog" aria-labelledby="rom_scan-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="rom_scan-label">Scan Roms</h4>
      </div>
      <div class="modal-body">
        <p>Scanning roms directory for changes <br /> " {{ platform.roms_path }} "</p>
        <div class="progress progress-striped active">
            <div id="progressBar" class="progress-bar" style="width: 0%">
                <span id="progressBar_text"></span>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="import_rom_xml-dialog" tabindex="-1" role="dialog" aria-labelledby="import_rom_xml-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="import_rom_xml-label">Import Rom Information from XML</h4>
      </div>
      <div class="modal-body">
        <form id="import_rom_xml-upload-form" role="form" action="sendQuestions" method="post" enctype="multipart/form-data">


            <div class="input-group">
                <input type="text" class="form-control" readonly>
                <div class="input-group-btn">
                    <span class="btn btn-primary btn-file" style="height: 40px; margin-top: -1px; margin-left: 0px; text-shadow: 1px 1px black;">
                        Browse <input type="file" name="file">
                    </span>
                </div>
            </div>

            <br />

            <button id="import_rom_xml-upload-btn" type="button" class="btn btn-primary" data-dismiss="modal" value="Upload">Upload</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}